a {
	color: #1570a6;
}

a:hover {
	color: #00a1f1;
}

img {
    filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(1);
}

body {
	background-color: #1570a6;
	color: White;
	width: 800px;
	margin: 0px auto;
}

h1 {
	font-family: Trebuchet MS, Liberation Sans, DejaVu Sans, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

h2, h3 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.25em;
}

div {
	font-family: Verdana, Arial, sans-serif;
	color: Black;

	display: block;
	padding: 60px 100px;
	border: solid 2px Black;
	background-color : White;

    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

a {
	text-decoration: none;
}

li {
	margin-bottom: 12px;
}

li.unreleased {
	color: Gray;
}

pre {
	display: inline-block;
	margin-bottom: 0px;
}

.warning {
	background-color: #F6F6F6;
	border-color: #EEEEEE;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
	margin-left: -4%;
	padding: 10px 4%;
	width: 100%;
}

.warning.bottom {
	margin-top: 40px;
}

.warning h1 {
	font-size: 16px;
}

.warning h2 {
	font-size: 1em;
}